<!DOCTYPE html>
{% load staticfiles %} 
<head>
<link rel="stylesheet" type="text/css" href="{% static 'todo/bootstrap.min.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'todo/bootstrap.css'%" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'todo/bootstrap-theme.min.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'todo/datepicker3.css' %}" media="screen">
<script type="text/javascript" src="{% static 'todo/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'todo/jquery.min.js' %}"></script>
<script src="{% static 'todo/bootstrap.min.js' %}"></script>
<script src="{% static 'todo/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'todo/timepicker.js' %}"></script>
<script>
    $(function() {
         $('#datepicker').datepicker({ 
            format: "yyyy/mm/dd",
            startDate: '-0',
            endDate: "+366d",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,});
    })
</script>

</head>
<body>
    
<center>
<h1>NOTES!!</h1>
<div class="collapse navbar-collapse col-sm-2 col-sm-offset-11" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="btn btn-success btn-mini  dropdown-toggle ">{{ user }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Help</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout!</a></li>
                        </ul>
                </ul>

</div>
<br><br>
<form action="{% url 'notes' %}" method="post">
{% csrf_token %}
<button type="submit" name="category" value="all" class="btn btn-primary btn-lg">All</button>
<button type="submit" name="category" value="personal" class="btn btn-primary btn-lg">Personal</button>
<button type="submit" name="category" value="work" class="btn btn-primary btn-lg">Work</button>
<button type="submit" name="category" value="archive" class="btn btn-primary btn-lg">Archive</button>
<button type="submit" name="category" value="other" class="btn btn-primary btn-lg">Other</button>
</form>


</center>

<center>
<br><br><form class="form-inline" role="form" action="{% url 'home1' %}" method="post">
{% csrf_token %}
	<div class="form-group">
		<textarea class="form-control" autofocus="autofocus" name="comment" id="name" cols="50" rows="5" placeholder="Quick Note" ></textarea>
		<br><br><label for="name">Category:
		</label>&nbsp;&nbsp;<select class="form-control" name="category">
			<option value="personal">Personal</option>
			<option value="work">Work</option>
			<option value="archive">Archive</option>
			<option value="other">Other</option>
		</select>
        </div><br><br><br>
        <input type="text" id="datepicker" class="form-control" placeholder="Set Reminder">
        <br><br>
        <div class="input-append bootstrap-timepicker">
            <input id="timepicker1" type="text" class="form-control">
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
 
        <script type="text/javascript">
            $('#timepicker1').timepicker();
        </script>
		<br><br><input type="submit" class="btn btn-success" value="Add">
	
</form>

<br><br>

</center>